* {
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    flex-grow: 3;
}

.btn {
    min-width: 140px;
}

header {
    padding: 20px 10px;
    flex-grow: fit;
    height: fit-content;
    background-color: rgb(255, 173, 126);
    border-radius: 2px;
}

.img {
    display: flex;
    flex-grow: 2;
    /* justify-content: center; */
    align-items: center;
}

img {
    width: 140px;
    height: 140px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    width: 100%;
    flex-grow: 2;
    max-height: 50px;
}

.btn {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(230, 230, 230);
    border: 1px solid red;
}

.accident {
    background-color: red;
}

.horn {
    background-color: rgb(255, 238, 0);
}

.crazy {
    background-color: rgb(96, 151, 235);
}